<div class="middle aligned column">
    <a href="{{ path('arobases_sylius_customer_support_plugin_shop_customer_support_create') }}" class="ui right  blue button"><i class="circle plus icon"></i> {{ 'arobases_sylius_customer_support.ui.new_ticket'|trans }}</a>
</div>