<h1 class="ui header">
    {{ 'arobases_sylius_customer_support_plugin.ui.customer_support'|trans }}
    <div class="sub header">{{ 'arobases_sylius_customer_support_plugin.ui.browse_your_customer_support'|trans }}</div>

{#    {{ sylius_template_event('sylius.shop.account.order.index.header.content', {'orders': orders}) }}#}
</h1>